* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}



@media screen and (max-width: 998px) {
    body {
        font-size: 14px;

        .custom-container {
            width: 100%;
        }

        .maps {
            padding: 30px 30px;

            .frame {
                display: flex;
                justify-content: center;
                padding-left: 0px;

                iframe {
                    width: 300px;
                    height: 200px;
                }
            }
        }
    }

    body .maps {

        display: flex;
        flex-direction: column;

        .word .hover-tex {

            width: 100%;
            padding-bottom: 30px;
        }


    }

}

@media screen and (max-width: 580px) {


    nav {
        div {

            font-size: small;

            ul {
                font-size: x-small;
                display: flex;
                flex-direction: column;
            }
        }
    }
}

nav {
    margin-bottom: 50px;
    display: flex;
    position: fixed;
    z-index: 1;
    width: 100%;
    justify-content: center;
    background-color: #08788c;
    color: white;

    div {

        align-items: center;
        display: flex;
        justify-content: space-between;


        ul {
            display: flex;
            list-style: none;

            li {
                margin: 0 10px;
            }

        }
    }

}


.carousel-container {
    width: 80%;
    margin: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: var(--lx-gap);

    .carousel {
        aspect-ratio: 16/9;
        width: 100%;
        position: relative;
        overflow: hidden;

        .item {
            opacity: 0;
            width: 100%;
            height: 100%;
            display: none;
            transition: opacity 0.5s ease-in-out;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }

            .caption {
                width: 100%;
                padding: var(--lx-space-01);
                position: absolute;
                bottom: 0;
                text-transform: uppercase;
                text-align: center;
                font-size: 12px;
                color: black;
                background-color: rgba(255, 255, 255, 0.5);
            }

            &.active {
                opacity: 1;
                display: block;
            }
        }
    }

    .btn {
        padding: 1em 2em;
        position: absolute;
        transform: translateY(-50%);
        top: 50%;
        outline: none;
        border: none;
        cursor: pointer;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 900;
        color: white;
        background-color: #08788c;
        transition: transform 0.2s ease-in-out;

        &:active,
        &:focus {
            transform: translateY(-50%) scale(0.9);
        }

        &:hover {
            background-color: white;
            color: #08788c;
            border: solid #08788c 3px;
            transform: translateY(-50%) scale(0.96);
        }
    }

    .prev {
        left: -5%;
    }

    .next {
        right: -5%;
    }

    .dots {
        margin-top: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;

        .dot {
            cursor: pointer;
            height: 10px;
            width: 10px;
            background-color: #24242160;
            transition: background-color 0.2s ease;

            &.active {
                border-radius: 100%;
                background-color: #08788c;
            }

            &:hover {
                background-color: #8d8d8d;
            }
        }
    }
}


.maps {
    padding: 30px 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;

    .frame {
        padding-left: 50px;

    }
}


#wrapper {
    width: 100%;
    max-width: 964px;
    position: relative;
}

#carousel {

    align-items: center;
    overflow: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

#carousel::-webkit-scrollbar {
    height: 0;
}

#prev,
#next {
    display: flex;
    justify-content: center;
    align-content: center;
    background: rgba(255, 255, 255, 0.397);
    border: none;
    padding: 8px;
    border-radius: 50%;
    outline: 0;
    cursor: pointer;
    position: absolute;
}

#prev {
    top: 50%;
    left: -20px;
    transform: translate(50%, -50%);
    display: none;
}

#next {
    top: 50%;
    right: -20px;
    transform: translate(-50%, -50%);
}

#next:hover,
#prev:hover {
    background: #08788c;
    opacity: 1;
}

#content {
    display: grid;
    grid-gap: 16px;
    grid-auto-flow: column;
    margin: auto;
    box-sizing: border-box;
}

.item {

    background: white;
    position: relative;

    img {
        width: 180px;
        height: 180px;
        object-fit: cover;

    }



    span {
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: black;
        font-size: 16px;
        font-weight: bold;
        opacity: 0;
        transition: opacity 0.3s ease;
    }
}


.item:hover {
    .hover-text {
        opacity: 1;
    }

    .food {
        opacity: 50%;
        transition: filter 0.3s ease
    }
}

.button {
    font-weight: bold;
    background-color: white;
    padding: 10px 40px;
    outline: none;
    border-radius: 0;

    &:hover {
        color: #08788c;
    }
}

.custom-container {
    width: 1320px;
}

p {
    color: #565656;
}

.more {
    display: flex;
    justify-content: center;
    width: 100%;
    div{
        padding-left: 30px;
        text-align: start;
    }

}

footer {
    color: #858585;
    display: flex;
    justify-content: center;
    margin: 30px 0;
}