* {
  font-family: 'Poppins', sans-serif;
}
button {
  border: none;
  font-size: medium;
  background-color: #08788c;
  color: white;
  padding: 10px 30px;
  margin-bottom: 10px;

}
.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 50px;
  padding-bottom: 100px;
  max-width: 1200px;
  margin-inline: auto;


  input {
    width: 500px;
    margin-top: 5px;
    margin-bottom: 30px;
    padding: 10px 10px;
    border: none;
    border-radius: 2px;
    border: 2px solid rgb(195, 195, 195);
  }

  textarea {
    margin-bottom: 30px;
    padding: 10px 10px;
    width: 500px;
    border: none;
    border-radius: 2px;
    border: 2px solid rgb(195, 195, 195);

  }

}

input:focus,
textarea:focus {
  outline: solid 2px #08788c;
  border: none;
  /* border: #ff0000 solid 1px; */
}

article {
  --img-scale: 1.001;
  --title-color: black;
  --link-icon-translate: -20px;
  --link-icon-opacity: 0;
  position: relative;
  border-radius: 16px;
  box-shadow: none;
  background: #fff;
  transform-origin: center;
  transition: all 0.4s ease-in-out;
  overflow: hidden;
}

article a::after {
  position: absolute;
  inset-block: 0;
  inset-inline: 0;
  cursor: pointer;
  content: "";
}

/* basic article elements styling */
article h2 {
  margin: 0 0 18px 0;

  font-size: 1.9rem;
  letter-spacing: 0.06em;
  color: var(--title-color);
  transition: color 0.3s ease-out;
}

figure {
  margin: 0;
  padding: 0;
  aspect-ratio: 16 / 9;
  overflow: hidden;
}

article img {
  width: 100%;
  object-fit: cover;
  transform-origin: center;
  transform: scale(var(--img-scale));
  transition: transform 0.4s ease-in-out;
}

.article-body {
  padding: 24px;
}

article a {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: #08788c;
}

article a:focus {
  outline: 1px dotted #08788c;
}

article a .icon {
  min-width: 24px;
  width: 24px;
  height: 24px;
  margin-left: 5px;
  transform: translateX(var(--link-icon-translate));
  opacity: var(--link-icon-opacity);
  transition: all 0.3s;
}

/* using the has() relational pseudo selector to update our custom properties */
article:has(:hover, :focus) {
  --img-scale: 1.1;
  --title-color: #08788c;
  --link-icon-translate: 0;
  --link-icon-opacity: 1;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}



*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 48px 0;
  font-size: 1.2rem;
  line-height: 1.6rem;
  /* background-image: url('../assets/img/background.jpg'); */
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  background-color: #F0F0F0;
}

.articles {
  display: grid;
  max-width: 1200px;
  margin-inline: auto;
  padding-inline: 24px;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 24px;
}

@media screen and (max-width: 960px) {
  .form {
    input {
      width: 100%;
    }
    textarea{
      width: 100%;
    }
  }

  article {
    container: card/inline-size;
  }

  .article-body p {
    display: none;
  }
}

@container card (min-width: 380px) {
  .article-wrapper {
    display: grid;
    grid-template-columns: 100px 1fr;
    gap: 16px;
  }

  .article-body {
    padding-left: 0;
  }

  figure {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  figure img {
    height: 100%;
    aspect-ratio: 1;
    object-fit: cover;
  }
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}